
body {
    height: 100%;
    background-color: burlywood;
}
.nice {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.underdog-regular {
    font-family: "Underdog", system-ui;
    font-weight: 600;
    font-style: normal;
  }
  
  .caveat-text {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
   
  }

.catch {
    font-size: 30px;
}